*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
}
.container{
    max-width: 600px;
    min-height: 400px;
    margin: 3rem auto;
    background-color: green;
    color: whitesmoke;
    font-size: 3rem;
    text-align: center;
    position: relative;
}
.box{
    font-size: 2rem;
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: 1s;
    cursor: pointer;
}
.box:hover{
    transform: scale(110%);
}